<div
  class="min-w-full min-h-[70vh] bg-custom py-12 px-4 bg-cover bg-center flex items-center justify-center relative"
>
  <!-- Content -->
  <div class="w-full min-h-full py-12 px-4 md:px-6 lg:px-8 relative">
    <div class="max-w-lg mx-auto bg-white rounded-lg shadow-lg p-8">
      <h2 class="text-center text-3xl font-bold text-gray-900 mb-8">
        Nouvelle Réservation
      </h2>

      <form class="space-y-4" [formGroup]="studentForm" (submit)="onSubmit()">
        <div>
          <label
            for="matricule"
            class="block text-sm font-medium text-gray-700"
          >
            Numéro Étudiant (Matricule)
          </label>
          <input
            type="text"
            id="matricule"
            name="matricule"
            formControlName="registrationNumber"
            required
            class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-violet-500 focus:opacity-60"
            placeholder="Entrez votre matricule"
          />
          <div class="h-2 md:h-4 mb-1 md:mb-0">
            <p
              *ngIf="registrationNumber?.invalid && registrationNumber?.touched"
              class="text-red-500 text-xs font-semibold text-left"
            >
              <span *ngIf="registrationNumber?.errors?.['required']"
                >* Veuillez renseigner votre matricule.</span
              >
              <span *ngIf="registrationNumber?.errors?.['pattern']"
                >* Entrez le matricule correct.</span
              >
            </p>
          </div>
        </div>

        <div>
          <label for="email" class="block text-sm font-medium text-gray-700">
            Adresse Email
          </label>
          <input
            type="email"
            id="email"
            name="email"
            formControlName="email"
            required
            class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-violet-500 focus:opacity-60"
            placeholder="Entrez votre email"
          />
          <div class="h-2 md:h-4 mb-1 md:mb-0">
            <p
              *ngIf="email?.invalid && email?.touched"
              class="text-red-500 text-xs font-semibold text-left"
            >
              <span *ngIf="email?.errors?.['required']"
                >* Veuillez renseigner votre email.</span
              >
              <span *ngIf="email?.errors?.['email']"
                >* Entrez l'email correct.</span
              >
            </p>
          </div>
        </div>

        <div class="mt-4 md:mt-0">
          <button
            type="submit"
            class="w-full md:cursor-pointer disabled:bg-violet-200 disabled:text-slate-600 disabled:md:cursor-not-allowed flex justify-center py-2 px-4 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-violet-600 hover:bg-violet-700 focus:outline-none focus:ring-2 focus:ring-offset-1 focus:ring-violet-500/50 transition-colors duration-200"
            [disabled]="studentForm.invalid"
          >
            Commencez
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
