<main class="">
  <div>
    <h1 class="bg-amber-500">Trouvez Votre Logement Idéal</h1>
    <p>
      Découvrez des solutions de logement confortables et abordables adaptées
      aux étudiants universitaires
    </p>
  </div>
  <form>
    <div class="bg-$gray-100">
      <input type="text" placeholder="Entrez votre code de réservation" />
      <button type="submit" class="bg-$purple-500">Consultez</button>
      <p>ou <a href="#">créez une nouvelle réservation</a></p>
    </div>
  </form>
</main>

<router-outlet />
