<div class="h-96 overflow-y-auto bg-white p-4 rounded border">
  <!-- Rules content -->
  <div>
    <h4 class="font-medium mb-2">Dispositions Générales</h4>
    <p class="mb-4">
      Une vie commune dans la résidence pour étudiants est tributaire d&apos;un
      respect mutuel de l&apos;entourage, de la vie individuelle et collective,
      de la direction de la résidence ALKARAMA et également la sauvegarde des
      équipements et infrastructures mis à la disposition des résidents.
    </p>
    <p class="mb-4">
      Le règlement intérieur est un engagement de toutes les parties prenantes
      de la résidence qui résume l&apos;ensemble des mesures et des règles
      permanentes relatives à l&apos;hygiène, la sécurité et la discipline qui
      organisent la vie commune au sein de la résidence.
    </p>
  </div>

  <div>
    <h4 class="font-medium mb-2">Article 2 : POLITIQUE DE LOCATION</h4>
    <ul class="mb-4 list-disc pl-6 text-gray-700 space-y-2">
      <li class="mb-2">
        9 mois et demi (du 15 septembre au 30 juin) étudiant session Automne
      </li>
      <li>
        8 mois et demi (du 15 octobre au 30 juin) étudiant session de novembre
      </li>
      <li>6 mois (du 1er jan au 30 juin) étudiant session de janvier</li>
    </ul>
    <p class="mb-4">
      Un contrat spécifique d&apos;été est prévu pour le mois de juillet et
      août.
    </p>
  </div>

  <div>
    <h4 class="font-medium mb-2">Article 3 : EQUIPEMENT ET SERVICES</h4>
    <div
      class="w-full overflow-hidden shadow-sm rounded-lg border border-gray-200"
    >
      <!-- For larger screens -->
      <div class="hidden md:block">
        <table class="w-full table-auto mb-2">
          <thead>
            <tr class="bg-gray-50">
              <th
                class="px-6 py-4 text-left text-sm font-semibold text-gray-800"
              >
                Type de Chambre
              </th>
              <th
                class="px-6 py-4 text-left text-sm font-semibold text-gray-800"
              >
                Équipements
              </th>
            </tr>
          </thead>
          <tbody class="divide-y divide-gray-200">
            <tr class="hover:bg-gray-50 transition-colors">
              <td class="px-6 py-4 text-sm font-medium text-gray-900">
                Chambre individuelle/partagée
              </td>
              <td class="px-6 py-4 text-sm text-gray-600">
                <ul class="list-disc list-inside space-y-1">
                  <li>Lit simple (1m de largeur)</li>
                  <li>Bureau avec chaise</li>
                  <li>Armoire ou placard</li>
                </ul>
              </td>
            </tr>
            <tr class="hover:bg-gray-50 transition-colors">
              <td class="px-6 py-4 text-sm font-medium text-gray-900">
                Chambre confort
              </td>
              <td class="px-6 py-4 text-sm text-gray-600">
                <ul class="list-disc list-inside space-y-1">
                  <li>Lit double (1m40 de largeur)</li>
                  <li>Bureau avec chaise</li>
                  <li>Armoire ou placard</li>
                  <li>Table de nuit</li>
                </ul>
              </td>
            </tr>
            <tr>
              <!-- Chambre VIP -->
              <td class="px-6 py-4 text-sm font-medium text-gray-900">
                Chambre VIP
              </td>
              <td class="px-6 py-4 text-sm text-gray-600">
                <ul class="list-disc list-inside space-y-1">
                  <li>Lit simple (1m de largeur)</li>
                  <li>Bureau avec chaise</li>
                  <li>Armoire ou placard</li>
                  <li>TV</li>
                  <li>Salle de bain intégrée</li>
                </ul>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <!-- For mobile screens -->
      <div class="md:hidden">
        <div class="space-y-4 p-4">
          <!-- Chambre individuelle/partagée -->
          <div class="border-b border-gray-200 pb-4">
            <h3 class="text-lg font-medium text-gray-900 mb-2">
              Chambre individuelle/partagée
            </h3>
            <ul class="list-disc list-inside space-y-1 text-sm text-gray-600">
              <li>Lit simple (1m de largeur)</li>
              <li>Bureau avec chaise</li>
              <li>Armoire ou placard</li>
            </ul>
          </div>

          <!-- Chambre confort -->
          <div class="pb-2">
            <h3 class="text-lg font-medium text-gray-900 mb-2">
              Chambre confort
            </h3>
            <ul class="list-disc list-inside space-y-1 text-sm text-gray-600">
              <li>Lit double (1m40 de largeur)</li>
              <li>Bureau avec chaise</li>
              <li>Armoire ou placard</li>
              <li>Table de nuit</li>
            </ul>
          </div>

          <!-- Chambre VIP -->
          <div class="pb-2">
            <h3 class="text-lg font-medium text-gray-900 mb-2">Chambre VIP</h3>
            <ul class="list-disc list-inside space-y-1 text-sm text-gray-600">
              <li>Lit simple (1m de largeur)</li>
              <li>Bureau avec chaise</li>
              <li>Armoire ou placard</li>
              <li>TV</li>
              <li>Salle de bain intégrée</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="mt-4">
      <p class="mb-4">
        La cuisine est équipée d&apos;un réfrigérateur, d&apos;une plaque de
        cuisson à gaz et des placards de rangement.La consommation d&apos;eau
        est comprise dans le loyer.
      </p>
      <p class="mb-4">
        L&apos;installation d&apos;une parabole groupée est existante
        l&apos;étudiant peut brancher directement son décodeur, les chaines
        marocaines sont offertes ainsi que la connexion internet par wifi.
      </p>
      <p class="mb-4">
        La consommation d&apos;électricité est à la charge des locataires. Les
        colocataires sont amenés à payer leur quittance d&apos;électricité,
        conjointement et chaque fin de mois.
      </p>
      <p class="mb-4">
        S&apos;il y a résiliation du compteur faute de non-paiement, le
        locataire devra payer la somme due ainsi qu&apos;une pénalité de 500dh
        chacun pour rétablissement de compteur et dérangement.
      </p>
      <p class="mb-4">
        Avant le départ, les colocataires doivent apportés au service de la
        résidence le reçu de paiement de la dernière quittance (dernier mois
        habité).
      </p>
    </div>
  </div>

  <div>
    <h4 class="font-medium mb-2">Article 4 : OCCUPATION DES LIEUX</h4>
    <p class="mb-4">
      Le locataire dont le nom apparaît sur le bail a seul le droit d'occuper la
      chambre qui lui est allouée en vertu du bail.
    </p>
    <p class="mb-4">
      Le résident signataire du dit bail, bénéficie d&apos;un droit
      d&apos;occupation personnelle et inaliénable .Aucune sous location
      n&apos;est tolérée faute de quoi une pénalité est appliquée (1000 dh).
    </p>
  </div>

  <div>
    <h4 class="font-medium mb-2">Article 5 : ETAT DES LIEUX</h4>
    <p class="mb-4">
      Les états des lieux entrée et sortie sont conjointement signés par le
      résident et la direction de la résidence ALKARAMA.
    </p>
    <p class="mb-4">
      Il est impératif avant de signer le compte rendu des états des lieux
      d&apos;inspecter tous les lieux ainsi que les meubles afin d&apos;éviter
      toute contestation ultérieure.
    </p>
    <p class="mb-4">
      Le résident s'engage à maintenir en bon état tous les biens de sa chambre
      et ne faire aucun changement ou altération (peindre, teindre, perforer,
      etc.) aux lieux loués ou aux biens meubles mis à sa disposition.
    </p>
    <p class="mb-4">
      Il doit laisser à leur lieu respectif, l'ameublement des chambres, des
      unités et des autres pièces.
    </p>
    <p class="mb-4">
      En son absence, le locataire s'engage à éteindre les lumières, à fermer
      les fenêtres et à toujours fermer à clé sa chambre, son appartement et la
      porte de son bâtiment.
    </p>
    <div class="mb-4">
      <p class="mb-2">
        Le résident doit informer dans les plus brefs délais la direction de la
        résidence de toute défectuosité ou détérioration des lieux loués
        (anomalie d&apos;installation électrique, de gaz ou dégâts des eaux…) et
        des biens meubles mis à sa disposition.
      </p>
      <p class="mb-2">
        Le résident doit avertir la direction de la résidence 15 jours avant la
        date de son départ.
      </p>
      <p class="mb-2">
        A défaut, l&apos;état des lieux sera dressé unilatéralement par la
        direction sans possibilités de contestations de la part du résident.
      </p>
    </div>
  </div>
  <div>
    <h4 class="font-medium mb-2">Article 6 : CAUTION</h4>
    <p class="mb-4">
      Le résident devra verser à la Direction des résidences ALKARAMA, une
      caution forfaitaire de mille deux cent dirhams (1200,00 Dhs) à la
      signature du contrat.
    </p>
    <p class="mb-4">
      La dite caution restera en dépôt durant toute la période
      d&apos;hébergement, et elle sera restituée au résident à la fin de son
      contrat le 30 Juin (si ce dernier est respecté), après déduction des
      montants dégâts ou autres frais.
    </p>
    <p class="mb-4">
      Pour un nouveau résident, la direction lui donne la possibilité de loger 3
      jours d&apos;essai, au-delà de cette date aucun remboursement de caution
      n&apos;est acceptable.
    </p>
  </div>
  <div>
    <h4 class="font-medium mb-2">Article 7 : FRAIS DE SYNDIC</h4>
    <p class="mb-4">
      Les frais de syndic sont payables au début de l&apos;année à hauteur de
      300.00 dhs annuellement (Entretien des espaces communs, Sécurité et
      Ascenseur).
    </p>
  </div>
  <div>
    <h4 class="font-medium mb-2">Article 8 : REGLEMENT DE REDEVANCES</h4>
    <p class="mb-4">
      Le règlement des redevances est bi-mensuel. Le premier versement est
      exigible lors de la signature du contrat de bail.
    </p>
    <ul class="mb-4 list-disc pl-6 text-gray-700 space-y-2">
      <li class="mb-2">Le 2ème versement au plus tard le 15 novembre</li>
      <li class="mb-2">Le 3ème versement avant le 15 janvier</li>
      <li class="mb-2">Le 4ème versement avant le 15 mars</li>
      <li class="mb-2">Le 5ème versement avant le 15 mai</li>
    </ul>

    <p class="mb-4">
      Tout retard de paiement (dépassant de délai prescris de 2 semaines) peut
      faire l&apos;objet d&apos;une pénalité de retard de 50 dh et 100 dh à
      partir du mois d&apos;après.
    </p>
  </div>
  <div>
    <h4 class="font-medium mb-2">Article 10 : SIGNATURE DU CONTRAT DE BAIL</h4>
    <p class="mb-4">
      Le résident ne signe le contrat de bail et l&apos;avenant qu&apos;une fois
      qu&apos;il ait pris connaissance du règlement intérieur et visité son
      futur logement.
    </p>
  </div>
  <div>
    <h4 class="font-medium mb-2">
      Article 11 : RESILIATION D&apos;UN CONTRAT DE BAIL
    </h4>
    <p class="mb-4">
      Le résident résilie son bail au plus tard 3 jours après la signature du
      contrat, un montant de 500 Dh seulement sera déduit de la caution. Au-delà
      de cette durée aucun remboursement de caution ne pourra être accepté.
    </p>
    <p class="mb-4">
      Exceptionnellement le résident est libéré de son bail sans pénalité s'il
      achève son programme d&apos;études ou effectue un stage prévu dans le
      programme d&apos;études. Dans ce cas, un préavis d&apos;un mois est exigé.
    </p>
  </div>
  <div>
    <h4 class="font-medium mb-2">Article 12 : VOLS</h4>
    <p class="mb-4">
      La porte de l&apos;appartement et la porte de la chambre doivent
      constamment être fermées car la direction de la résidence Al KARAMA
      décline toute responsabilité en cas de vol dont pourraient être victimes
      les résidents, dans leur appartement ou leur chambre.
    </p>
  </div>
  <div>
    <h4 class="font-medium mb-2">
      Article 13 : ACCES AUX APPARTEMENTS ET CHAMBRES.
    </h4>
    <p class="mb-4">
      Le résident sera le seul responsable des visiteurs qu&apos;il introduira
      au sein de la résidence. Ces derniers doivent présenter leurs cartes
      d&apos;identité à l&apos;entrée.
    </p>
    <p class="mb-4">
      Les visites ne doivent pas être fréquentes. Les visites ne doivent pas
      dérangées les colocataires.
    </p>
    <p class="mb-4">
      Pour l&apos;hébergement d&apos;un membre de famille (père, mère, sœur), la
      direction doit donner son accord.
    </p>
  </div>
  <div>
    <h4 class="font-medium mb-2">Article 14 : RESPONSABILITÉS DU LOCATAIRE</h4>
    <p class="mb-4">
      Le résident doit mettre ses ordures ménagères dans des sacs en plastique
      et les déposer dans la grande poubelle située au bas de l&apos;immeuble.
      Il est strictement interdit de jeter les ordures par la fenêtre.
    </p>
    <p class="mb-4">
      Pour des raisons d'hygiène, le résident doit veiller à la propreté de sa
      chambre, de la cuisine comprenant réfrigérateur, plaque de cuisson et
      évier de la salle de bain. Les résidents partageant l&apos;appartement
      seront tenus conjointement responsables des dommages causés aux lieux
      communs (salle de bain, cuisine….) ainsi que les dégâts causés par la
      saleté. Voir tarifs des dégâts.
    </p>
    <p class="mb-4">
      Le résident s'engage à ne faire cuire ou réchauffer aucun aliment dans sa
      chambre et à n'utiliser dans celle-ci aucun appareil électrique à
      l&apos;exception de la télévision et de l&apos;ordinateur, de
      l&apos;imprimante, du séchoir et du fer à repasser.
    </p>
    <p class="mb-4">
      Le locataire ne devra garder dans les lieux loués ou dans l'édifice
      faisant partie des lieux loués aucun animal.
    </p>
    <p class="mb-4">
      Aucune n&apos;arme à feu et aucune substance inflammable, explosive,
      corrosive ou autrement dommageable n&apos;est permise dans les lieux
      loués.
    </p>
    <p class="mb-4">
      La consommation des boissons alcoolisées est strictement interdite dans
      les lieux loués. La possession et/ou le trafic de drogue ne sont interdits
      à toute personne dans la résidence.
    </p>
    <p class="mb-4">
      En tout temps le locataire s'engage à assurer le bien-être et le repos des
      personnes du voisinage. Les téléviseurs, les systèmes de son ou tout autre
      appareil pouvant produire des bruits excessifs doivent nécessairement être
      utilisés exclusivement avec des écouteurs.
    </p>
    <p class="mb-4">
      Il est interdit de fumer dans tous les lieux de la résidence.
      Conséquemment, tous les lieux loués sont désignés zone non-fumeurs.
    </p>
    <p class="mb-4">
      Le courant électrique des chambres de la résidence a été installé en
      prévision de l'usage normal d'une chambre.
    </p>
    <p class="mb-4">
      La surcharge électrique peut occasionner des dangers d'incendie. Le
      locataire dérogeant à cet article crée ainsi une surcharge électrique
      compromettant sa propre sécurité et celle des autres locataires.
    </p>
    <p class="mb-4">
      En cas de sinistre, il peut conséquemment être tenu responsable.
    </p>
  </div>
  <div>
    <h4 class="font-medium mb-2">Article 16 : CONSIGNE</h4>
    <p class="mb-4">
      Le résident peut bénéficier du service consigne gracieusement du 1er juin
      au 1er octobre pour garder ses affaires durant la période d&apos;été
      seulement.
    </p>
    <p class="mb-4">
      Les sanctions peuvent aller de l&apos;avertissement à l&apos;expulsion
      définitive de la résidence.
    </p>
  </div>
  <div>
    <h4 class="font-medium mb-2">
      Article 17 : NON RESPECT DES REGLES / SANCTION
    </h4>
    <p class="mb-4">
      Dans le cas où la direction de la résidence constate qu'il y a des
      dommages, des articles manquants ou des réparations non conformes qui ont
      été effectuées par le résident aux lieux loués ou aux biens meubles mis à
      sa disposition, une estimation des coûts engendrés sera effectuée. Le
      locataire devra assumer la totalité de ces coûts.
    </p>
    <p class="mb-4">
      Le nonrespect des présentes règles par le résident peut entraîner des
      sanctions, qui sont classées par ordre : Avertissement écrit (1er ,2ème),
      Exclusion de la résidence, Exclusion des cours et examens.
    </p>
    <p class="mb-4">
      Les parents du résident sanctionné sont informés chaque fois qu&apos;une
      sanction lui sera infligée.
    </p>
  </div>
</div>
