<div class="min-w-full h-full bg-white mx-auto px-4 py-8">
  <div class="max-w-full md:min-w-lg md:max-w-6xl mx-auto">
    <!-- Stepper -->
    <div class="relative">
      <div class="flex justify-between md:justify-around p-4">
        <div
          *ngFor="let step of steps; let i = index"
          class="flex items-center"
        >
          <div
            class="flex flex-col md:flex-row md:gap-x-2 items-center relative"
          >
            <div
              [class]="
                'w-10 h-10 rounded-full flex items-center justify-center font-medium ' +
                (currentStep === i + 1
                  ? 'bg-purple-600 text-white'
                  : currentStep > i + 1
                  ? 'bg-green-500 text-white'
                  : 'bg-gray-200 text-gray-600')
              "
            >
              <span *ngIf="currentStep > i + 1" class="text-lg">✓</span>
              <span *ngIf="currentStep <= i + 1">{{ i + 1 }}</span>
            </div>
            <div
              class="text-sm md:text-lg mt-2 md:mt-0"
              [class.text-green-600]="currentStep > i + 1"
              [class.text-gray-600]="currentStep <= i + 1"
            >
              {{ step }}
            </div>
          </div>
        </div>
      </div>
    </div>

    <form
      *ngIf="currentStep === 1"
      [formGroup]="reservationForm"
      class="space-y-6"
    >
      <!-- Step 1: Choices Selection -->
      <div class="space-y-4">
        <!-- First Choice -->
        <div class="bg-white rounded-lg shadow p-4">
          <h2 class="text-xl font-semibold mb-6">Premier choix</h2>

          <div
            class="w-full flex flex-col gap-y-4 md:gap-y-0 justify-evenly md:flex-row md:items-start md:gap-x-4"
          >
            <div class="w-full space-y-2" formGroupName="firstChoice">
              <div class="space-y-2">
                <label class="block text-sm font-medium text-gray-700">
                  Résidence*
                  <span
                    class="ml-1 text-gray-400 hover:text-gray-600 cursor-help"
                    title="Sélectionnez votre résidence préférée"
                    >ⓘ</span
                  >
                </label>
                <select
                  formControlName="residence"
                  (change)="
                    updateAccomodationTypes('firstChoice');
                    updateBuildings('firstChoice')
                  "
                  class="mt-1 p-3 block w-full rounded-md border-gray-300 shadow-sm focus:border-purple-500 focus:ring-purple-500"
                >
                  <option value="">Sélectionnez une résidence</option>
                  <option
                    *ngFor="let res of residencies; let idx = index"
                    [value]="res.RES_Id"
                  >
                    {{ res.RES_Nom }}
                  </option>
                </select>
                <div
                  *ngIf="showError('firstChoice', 'residence')"
                  class="text-red-500 text-sm mt-1"
                >
                  Ce champ est obligatoire
                </div>
              </div>

              <div class="space-y-2">
                <label class="block text-sm font-medium text-gray-700"
                  >Type*</label
                >
                <select
                  formControlName="accommodation"
                  (change)="
                    updateBuildings('firstChoice');
                    updateApartments('firstChoice');
                    updateRooms('firstChoice');
                    updateTarifs('firstChoice')
                  "
                  class="mt-1 p-3 block w-full rounded-md border-gray-300 shadow-sm focus:border-purple-500 focus:ring-purple-500"
                >
                  <option value="">Sélectionnez un type</option>
                  <option
                    *ngFor="let accommodation of firstChoiceAccomodationTypes"
                    [value]="accommodation.AMNGMNT_ID"
                  >
                    {{ accommodation.AMNGMNT_TYPE }}
                  </option>
                </select>
                <div
                  *ngIf="showError('firstChoice', 'accommodation')"
                  class="text-red-500 text-sm mt-1"
                >
                  Ce champ est obligatoire
                </div>
              </div>

              <div class="space-y-2">
                <label class="block text-sm font-medium text-gray-700"
                  >Bâtiment</label
                >
                <select
                  formControlName="building"
                  (change)="updateApartments('firstChoice')"
                  class="mt-1 p-3 block w-full rounded-md border-gray-300 shadow-sm focus:border-purple-500 focus:ring-purple-500"
                >
                  <option value="">Sélectionnez un bâtiment</option>
                  <option
                    *ngFor="let building of firstChoiceBuildings"
                    [value]="building.BAT_ID"
                  >
                    {{ building.BAT_NOM }}
                  </option>
                </select>
              </div>

              <div class="space-y-2">
                <label class="block text-sm font-medium text-gray-700"
                  >Appartement</label
                >
                <select
                  formControlName="apartment"
                  (change)="updateRooms('firstChoice')"
                  class="mt-1 p-3 block w-full rounded-md border-gray-300 shadow-sm focus:border-purple-500 focus:ring-purple-500"
                >
                  <option value="">Sélectionnez un appartement</option>
                  <option
                    *ngFor="let apartment of firstChoiceApartments"
                    [value]="apartment.APRT_ID"
                  >
                    {{ apartment.APRT_NOM }}
                  </option>
                </select>
              </div>

              <div class="space-y-2">
                <label class="block text-sm font-medium text-gray-700"
                  >Chambre</label
                >
                <select
                  formControlName="room"
                  (change)="updateTarifs('firstChoice')"
                  class="mt-1 p-3 block w-full rounded-md border-gray-300 shadow-sm focus:border-purple-500 focus:ring-purple-500"
                >
                  <option value="">Sélectionnez une chambre</option>
                  <option
                    *ngFor="let room of firstChoiceRooms"
                    [value]="room.CHBR_ID"
                  >
                    {{ room.NUMEROCHAMBRE }}
                  </option>
                </select>
              </div>
            </div>

            <!-- First Choice Pricing -->
            <app-tarifs-table
              *ngIf="firstChoiceFees.length > 0"
              [fees]="firstChoiceFees"
              header="Tarifs"
            ></app-tarifs-table>
          </div>
        </div>

        <!-- Second Choice -->
        <div class="bg-white rounded-lg shadow p-6">
          <h2 class="text-xl font-semibold mb-6">Deuxième choix</h2>
          <div
            class="w-full flex flex-col gap-y-4 md:gap-y-0 justify-between md:flex-row md:items-start md:gap-x-4"
          >
            <div class="w-full space-y-2" formGroupName="secondChoice">
              <div class="space-y-2">
                <label class="block text-sm font-medium text-gray-700">
                  Résidence*
                  <span
                    class="ml-1 text-gray-400 hover:text-gray-600 cursor-help"
                    title="Sélectionnez votre résidence préférée"
                    >ⓘ</span
                  >
                </label>
                <select
                  formControlName="residence"
                  (change)="
                    updateAccomodationTypes('secondChoice');
                    updateBuildings('secondChoice')
                  "
                  class="mt-1 p-3 block w-full rounded-md border-gray-300 shadow-sm focus:border-purple-500 focus:ring-purple-500"
                >
                  <option value="">Sélectionnez une résidence</option>
                  <option
                    *ngFor="let residency of residencies"
                    [value]="residency.RES_Id"
                  >
                    {{ residency.RES_Nom }}
                  </option>
                </select>
                <div
                  *ngIf="showError('secondChoice', 'residence')"
                  class="text-red-500 text-sm mt-1"
                >
                  Ce champ est obligatoire
                </div>
              </div>

              <div class="space-y-2">
                <label class="block text-sm font-medium text-gray-700"
                  >Aménagment*</label
                >
                <select
                  formControlName="accommodation"
                  (change)="
                    updateBuildings('secondChoice');
                    updateApartments('secondChoice');
                    updateRooms('secondChoice');
                    updateTarifs('secondChoice')
                  "
                  class="mt-1 p-3 block w-full rounded-md border-gray-300 shadow-sm focus:border-purple-500 focus:ring-purple-500"
                >
                  <option value="">Sélectionnez un type</option>
                  <option
                    *ngFor="let accommodation of secondChoiceAccomodationTypes"
                    [value]="accommodation.AMNGMNT_ID"
                  >
                    {{ accommodation.AMNGMNT_TYPE }}
                  </option>
                </select>
              </div>

              <div class="space-y-2">
                <label class="block text-sm font-medium text-gray-700"
                  >Bâtiment</label
                >
                <select
                  formControlName="building"
                  (change)="updateApartments('secondChoice')"
                  class="mt-1 p-3 block w-full rounded-md border-gray-300 shadow-sm focus:border-purple-500 focus:ring-purple-500"
                >
                  <option value="">Sélectionnez un bâtiment</option>
                  <option
                    *ngFor="let building of secondChoiceBuildings"
                    [value]="building.BAT_ID"
                  >
                    {{ building.BAT_NOM }}
                  </option>
                </select>
              </div>

              <div class="space-y-2">
                <label class="block text-sm font-medium text-gray-700"
                  >Appartement</label
                >
                <select
                  formControlName="apartment"
                  (change)="updateRooms('secondChoice')"
                  class="mt-1 p-3 block w-full rounded-md border-gray-300 shadow-sm focus:border-purple-500 focus:ring-purple-500"
                >
                  <option value="">Sélectionnez un appartement</option>
                  <option
                    *ngFor="let apartment of secondChoiceApartments"
                    [value]="apartment.APRT_ID"
                  >
                    {{ apartment.APRT_NOM }}
                  </option>
                </select>
              </div>

              <div class="space-y-2">
                <label class="block text-sm font-medium text-gray-700"
                  >Chambre</label
                >
                <select
                  formControlName="room"
                  (change)="updateTarifs('secondChoice')"
                  class="mt-1 p-3 block w-full rounded-md border-gray-300 shadow-sm focus:border-purple-500 focus:ring-purple-500"
                >
                  <option value="">Sélectionnez une chambre</option>
                  <option
                    *ngFor="let room of secondChoiceRooms"
                    [value]="room.CHBR_ID"
                  >
                    {{ room.NUMEROCHAMBRE }}
                  </option>
                </select>
              </div>
            </div>
            <!-- Second Choice Pricing -->
            <app-tarifs-table
              *ngIf="secondChoiceFees.length > 0"
              [fees]="secondChoiceFees"
              header="Tarifs"
            ></app-tarifs-table>
          </div>
        </div>
      </div>
      <div class="bg-white rounded-lg shadow p-4">
        <div class="space-y-2">
          <label for="remarks" class="block text-sm font-medium text-gray-700">
            Remarques
            <span
              class="ml-1 text-gray-400 hover:text-gray-600 cursor-help"
              title="Ajoutez des informations complémentaires à votre demande"
              >ⓘ</span
            >
          </label>
          <textarea
            id="remarks"
            formControlName="remarks"
            rows="4"
            placeholder="Ajoutez ici vos remarques ou informations complémentaires..."
            class="p-2 mt-1 block resize-none w-full rounded-md border-gray-300 shadow-sm focus:border-purple-500 focus:ring-purple-500 placeholder:text-gray-400 text-sm min-h-[6rem]"
          ></textarea>
          <p class="mt-1 text-sm text-gray-500">
            Facultatif - Maximum 500 caractères
          </p>
        </div>
      </div>
      <!-- Navigation Buttons -->
      <div class="flex justify-end space-x-4">
        <button
          type="button"
          (click)="nextStep()"
          [disabled]="!reservationForm.valid"
          class="px-4 py-2 cursor-pointer border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-purple-600 hover:bg-purple-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-purple-500 disabled:opacity-50 disabled:cursor-not-allowed"
        >
          Suivant
        </button>
      </div>
    </form>

    <!-- Step 2: Validation -->
    <div *ngIf="currentStep === 2">
      <div class="bg-white p-4 space-y-2">
        <div class="flex items-center justify-between">
          <h2 class="text-xl font-semibold mb-6">Validation de vos choix</h2>
          <div class="flex justify-end space-x-4">
            <button
              (click)="previousStep()"
              class="px-4 py-2 border border-gray-300 rounded-md shadow-sm text-sm font-medium text-gray-700 bg-white hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-purple-500 cursor-pointer disabled:cursor-not-allowed"
            >
              Précédent
            </button>
            <button
              (click)="nextStep()"
              class="px-4 py-2 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-purple-600 hover:bg-purple-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-purple-500 disabled:opacity-50 cursor-pointer disabled:cursor-not-allowed"
            >
              Valider
            </button>
          </div>
        </div>
        <div
          class="space-y-4 rounded-lg shadow p-4 grid grid-cols-1 md:grid-cols-2 gap-4"
        >
          <!-- First Choice Summary -->
          <app-choice-summary
            [data]="{
                  header: 'Votre Premier Choix',
                  residence: getResidenceName('firstChoice'),
                  accomodation: getAccommodationName('firstChoice'),
                  building: getBuildingName('firstChoice'),
                  apartment: getApartmentName('firstChoice'),
                  room: getRoomName('firstChoice'),
                }"
          ></app-choice-summary>
          <app-tarifs-table
            *ngIf="firstChoiceFees.length > 0"
            [fees]="firstChoiceFees"
            header="Tarifs"
          ></app-tarifs-table>

          <!-- Second Choice Summary -->
          <app-choice-summary
            [data]="{
                  header: 'Votre Deuxième Choix',
                  residence: getResidenceName('secondChoice'),
                  accomodation: getAccommodationName('secondChoice'),
                  building: getBuildingName('secondChoice'),
                  apartment: getApartmentName('secondChoice'),
                  room: getRoomName('secondChoice'),
                }"
          ></app-choice-summary>
          <app-tarifs-table
            *ngIf="secondChoiceFees.length > 0"
            [fees]="secondChoiceFees"
            header="Tarifs"
          ></app-tarifs-table>
        </div>
      </div>
    </div>

    <!-- Display And Print Summary -->
    <div *ngIf="currentStep === 3" class="bg-white p-4">
      <div [ngSwitch]="reservation?.Et_ID">
        <div *ngSwitchCase="ReservationStatus.EN_COURS_DE_VALIDATION_ADMIN">
          <!--Confirmation Message-->
          <div
            class="my-8 rounded-lg bg-green-500/65 text-white flex justify-between border px-4 py-2 gap-x-2 items-center"
          >
            <div class="flex items-center gap-x-2">
              <span class="text-lg">✓</span>
              <h1>
                Votre réservation a bien été réçu. En attente du traîtement de
                votre demande
              </h1>
            </div>
          </div>
          <div class="flex gap-x-4 items-center mb-6">
            <h2 class="text-xl font-semibold" *ngIf="showDetails">
              Résumé de vos choix
            </h2>
            <div class="flex-1 flex items-center justify-end gap-x-4">
              <button
                (click)="showDetails = !showDetails"
                class="text-purple-600"
              >
                <i-lucide
                  [img]="showDetails ? eyeOff : eye"
                  title="Afficher les détails"
                ></i-lucide>
              </button>
              <button
                (click)="printSummary()"
                class="inline-flex md:order-3 items-center px-4 py-2 border border-gray-300 rounded-md shadow-sm text-sm font-medium text-gray-700 bg-white hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-purple-500"
              >
                <svg
                  class="h-5 w-5 mr-2"
                  fill="none"
                  stroke="currentColor"
                  viewBox="0 0 24 24"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M17 17h2a2 2 0 002-2v-4a2 2 0 00-2-2H5a2 2 0 00-2 2v4a2 2 0 002 2h2m2 4h6a2 2 0 002-2v-4a2 2 0 00-2-2H9a2 2 0 00-2 2v4a2 2 0 002 2zm8-12V5a2 2 0 00-2-2H9a2 2 0 00-2 2v4h10z"
                  />
                </svg>
                Imprimer
              </button>
            </div>
          </div>

          <div
            class="space-y-4 rounded-lg shadow p-4 grid grid-cols-1 md:grid-cols-2 gap-4"
            *ngIf="showDetails"
            id="summaryToPrint"
          >
            <!-- First Choice Summary -->
            <app-choice-summary
              [data]="{
                header: 'Votre Premier Choix',
                residence: summary!.firstChoice.residence,
                accomodation: summary!.firstChoice.accommodation,
                building: summary!.firstChoice.building,
                apartment: summary!.firstChoice.apartment,
                room: summary!.firstChoice.room,
              }"
            ></app-choice-summary>
            <app-tarifs-table
              [fees]="summary!.firstChoice.tarifs"
              header="Tarifs"
            ></app-tarifs-table>

            <!-- Second Choice Summary -->
            <app-choice-summary
              [data]="{
                header: 'Votre Deuxième Choix',
                residence: summary!.secondChoice.residence,
                accomodation: summary!.secondChoice.accommodation,
                building: summary!.secondChoice.building,
                apartment:summary!.secondChoice.apartment,
                room:summary!.secondChoice.room,
              }"
            ></app-choice-summary>
            <app-tarifs-table
              [fees]="summary!.secondChoice.tarifs"
              header="Tarifs"
            ></app-tarifs-table>
          </div>
        </div>
        <div
          *ngSwitchCase="ReservationStatus.EN_COURS_DE_CONFIRMATION"
          class="space-y-4 p-4"
        >
          <!-- Success Message -->
          <div class="bg-green-100 rounded-lg text-center py-4">
            <h2 class="text-xl font-semibold text-green-800 mb-2">
              Félicitations ! Votre réservation a été acceptée
            </h2>
            <p class="text-green-700">
              Veuillez prendre connaissance du règlement intérieur avant de
              procéder au paiement.
            </p>
          </div>

          <!-- reservation Summary-->
          <div class="space-y-4">
            <div class="flex justify-between items-center">
              <h3 class="text-lg font-semibold mb-4">
                Le choix retenu <span class="hidden md:inline-block">pour votre réservation</span>
              </h3>
              <div
                class="flex flex-col md:flex-row gap-4 md:gap-x-4 md:justify-end"
              >
                <button
                  (click)="acceptOffer()"
                  class="group w-full flex items-center md:cursor-pointer md:w-auto px-4 py-2 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-purple-600 hover:bg-purple-700"
                >
                  Continuer
                </button>
              </div>
            </div>
            <div
              class="space-y-4 rounded-lg shadow p-4 grid grid-cols-1 md:grid-cols-2 gap-4"
              id="summaryToPrint"
            >
              <!-- First Choice Summary -->
              <app-choice-summary
                *ngIf="summary?.firstChoice?.isValidated"
                [data]="{
                  header: 'Votre Premier Choix',
                  residence: summary!.firstChoice.residence,
                  accomodation: summary!.firstChoice.accommodation,
                  building: summary!.firstChoice.building,
                  apartment: summary!.firstChoice.apartment,
                  room: summary!.firstChoice.room,
                }"
              ></app-choice-summary>
              <app-tarifs-table
                *ngIf="summary?.firstChoice?.isValidated"
                [fees]="summary!.firstChoice.tarifs"
                header="Tarifs"
              ></app-tarifs-table>

              <!-- Second Choice Summary -->
              <app-choice-summary
                *ngIf="summary?.secondChoice?.isValidated"
                [data]="{
                  header: 'Votre Deuxième Choix',
                  residence: summary!.secondChoice.residence || 'Non spécifié',
                  accomodation: summary!.secondChoice.accommodation,
                  building: summary!.secondChoice.building,
                  apartment:summary!.secondChoice.apartment,
                  room:summary!.secondChoice.room,
                }"
              ></app-choice-summary>
              <app-tarifs-table
                *ngIf="summary?.secondChoice?.isValidated"
                [fees]="summary!.secondChoice.tarifs"
                header="Tarifs"
              ></app-tarifs-table>
            </div>
          </div>

          <!-- Rules -->
          <div>
            <app-modal
              [isOpen]="isModalOpen"
              (closeModal)="closeModal($event)"
              (confirmModal)="handleConfirm($event)"
              [title]="'Règlement Intérieur'"
              ><div class="bg-gray-50 p-6 rounded-lg">
                <app-reglement></app-reglement>
              </div>
            </app-modal>
          </div>
        </div>
        <div *ngSwitchCase="ReservationStatus.REJETE" class="space-y-4">
          <div
            class="my-8 rounded-lg flex gap-x-3 items-center bg-red-500/65 text-white border px-4 py-2"
          >
            <span class="text-lg font-bold">✗</span>
            <h1 class="text-lg font-medium">Votre réservation a été rejetée</h1>
          </div>
          <div class="space-y-2">
            <p class="font-medium text-gray-700 text-lg">Motif du rejet:</p>
            <p class="text-gray-600 bg-gray-50 p-4 rounded-md">
              {{ rejectionReason }}
            </p>
          </div>
        </div>
      </div>
    </div>

    <!-- Payment -->
    <div *ngIf="currentStep === 4" class="bg-white rounded-lg shadow p-4">
      <h1 class="text-xl font-semibold mb-6">Paiement</h1>
      <div class="space-y-4">
        <div
          class="my-8 rounded-lg flex flex-col gap-x-3 items-center bg-green-500/65 text-white border px-4 py-2"
        >
          <div class="flex items-center gap-x-2">
            <i-lucide [img]="checkCircle" class="text-lg font-bold"></i-lucide>
            <h2 class="text-lg font-medium">
              Votre réservation a été acceptée
            </h2>
          </div>
          <h2>Veuillez vous rendre dans nos locaux pour régler la facture</h2>
        </div>
      </div>
    </div>
  </div>
</div>
