<div class="min-w-full h-full bg-white mx-auto px-4 py-8">
  <div class="max-w-full md:min-w-lg md:max-w-6xl mx-auto">
    <!-- Stepper -->
    <div class="relative mb-4">
      <div class="flex justify-between">
        <div
          *ngFor="let step of steps; let i = index"
          class="flex items-center"
        >
          <div
            class="flex flex-col md:flex-row md:gap-x-2 items-center relative"
          >
            <div
              [class]="
                'w-10 h-10 rounded-full flex items-center justify-center font-medium ' +
                (currentStep === i + 1
                  ? 'bg-purple-600 text-white'
                  : currentStep > i + 1
                  ? 'bg-green-500 text-white'
                  : 'bg-gray-200 text-gray-600')
              "
            >
              <span *ngIf="currentStep > i + 1" class="text-lg">✓</span>
              <span *ngIf="currentStep <= i + 1">{{ i + 1 }}</span>
            </div>
            <div
              class="text-sm md:text-lg mt-2 md:mt-0"
              [class.text-green-600]="currentStep > i + 1"
              [class.text-gray-600]="currentStep <= i + 1"
            >
              {{ step }}
            </div>
          </div>
        </div>
      </div>
    </div>

    <form
      *ngIf="currentStep === 1"
      [formGroup]="bookingForm"
      (submit)="onSubmit()"
      class="space-y-6"
    >
      <!-- Step 1: Choices Selection -->
      <div class="space-y-4">
        <!-- First Choice -->
        <div class="bg-white rounded-lg shadow p-4">
          <h2 class="text-xl font-semibold mb-6">Premier choix</h2>

          <div
            class="w-full flex flex-col gap-y-4 md:gap-y-0 justify-evenly md:flex-row md:items-start md:gap-x-4"
          >
            <div class="w-full space-y-2" formGroupName="firstChoice">
              <div class="space-y-2">
                <label class="block text-sm font-medium text-gray-700">
                  Résidence*
                  <span
                    class="ml-1 text-gray-400 hover:text-gray-600 cursor-help"
                    title="Sélectionnez votre résidence préférée"
                    >ⓘ</span
                  >
                </label>
                <select
                  formControlName="residence"
                  (change)="
                    updateAccomodationTypes('firstChoice');
                    updateBuildings('firstChoice');
                    updateTarifs('firstChoice')
                  "
                  class="mt-1 p-3 block w-full rounded-md border-gray-300 shadow-sm focus:border-purple-500 focus:ring-purple-500"
                >
                  <option value="">Sélectionnez une résidence</option>
                  <option
                    *ngFor="let res of residencies; let idx = index"
                    [value]="res.value"
                  >
                    {{ res.display }}
                  </option>
                </select>
                <div
                  *ngIf="showError('firstChoice', 'residence')"
                  class="text-red-500 text-sm mt-1"
                >
                  Ce champ est obligatoire
                </div>
              </div>

              <div class="space-y-2">
                <label class="block text-sm font-medium text-gray-700"
                  >Type*</label
                >
                <select
                  formControlName="accommodation"
                  (change)="updateTarifs('firstChoice')"
                  class="mt-1 p-3 block w-full rounded-md border-gray-300 shadow-sm focus:border-purple-500 focus:ring-purple-500"
                >
                  <option value="">Sélectionnez un type</option>
                  <option
                    *ngFor="let accommodation of firstChoiceAccomodationTypes"
                    [value]="accommodation.value"
                  >
                    {{ accommodation.display.toLocaleUpperCase() }}
                  </option>
                </select>
                <div
                  *ngIf="showError('firstChoice', 'accommodation')"
                  class="text-red-500 text-sm mt-1"
                >
                  Ce champ est obligatoire
                </div>
              </div>

              <div class="space-y-2">
                <label class="block text-sm font-medium text-gray-700"
                  >Bâtiment</label
                >
                <select
                  formControlName="building"
                  class="mt-1 p-3 block w-full rounded-md border-gray-300 shadow-sm focus:border-purple-500 focus:ring-purple-500"
                >
                  <option value="">Sélectionnez un bâtiment</option>
                  <option
                    *ngFor="let building of firstChoiceBuildings"
                    [value]="building.value"
                  >
                    {{ building.display }}
                  </option>
                </select>
              </div>

              <div class="space-y-2">
                <label class="block text-sm font-medium text-gray-700"
                  >Appartement</label
                >
                <select
                  formControlName="apartment"
                  class="mt-1 p-3 block w-full rounded-md border-gray-300 shadow-sm focus:border-purple-500 focus:ring-purple-500"
                >
                  <option value="">Sélectionnez un appartement</option>
                  <option value="3">3</option>
                </select>
              </div>
            </div>

            <!-- First Choice Pricing -->
            <app-tarifs-table
              *ngIf="firstChoiceFees.length > 0"
              [fees]="firstChoiceFees"
              header="Tarifs"
            ></app-tarifs-table>
          </div>
        </div>

        <!-- Second Choice -->
        <div class="bg-white rounded-lg shadow p-6">
          <h2 class="text-xl font-semibold mb-6">Deuxième choix</h2>
          <div
            class="w-full flex flex-col gap-y-4 md:gap-y-0 justify-between md:flex-row md:items-start md:gap-x-4"
          >
            <div class="w-full space-y-2" formGroupName="secondChoice">
              <div class="space-y-2">
                <label class="block text-sm font-medium text-gray-700">
                  Résidence*
                  <span
                    class="ml-1 text-gray-400 hover:text-gray-600 cursor-help"
                    title="Sélectionnez votre résidence préférée"
                    >ⓘ</span
                  >
                </label>
                <select
                  formControlName="residence"
                  (change)="
                    updateAccomodationTypes('secondChoice');
                    updateBuildings('secondChoice');
                    updateTarifs('secondChoice')
                  "
                  class="mt-1 p-3 block w-full rounded-md border-gray-300 shadow-sm focus:border-purple-500 focus:ring-purple-500"
                >
                  <option value="">Sélectionnez une résidence</option>
                  <option
                    *ngFor="let residency of residencies"
                    [value]="residency.value"
                  >
                    {{ residency.display }}
                  </option>
                </select>
                <div
                  *ngIf="showError('secondChoice', 'residence')"
                  class="text-red-500 text-sm mt-1"
                >
                  Ce champ est obligatoire
                </div>
              </div>

              <div class="space-y-2">
                <label class="block text-sm font-medium text-gray-700"
                  >Type*</label
                >
                <select
                  formControlName="accommodation"
                  (change)="updateTarifs('secondChoice')"
                  class="mt-1 p-3 block w-full rounded-md border-gray-300 shadow-sm focus:border-purple-500 focus:ring-purple-500"
                >
                  <option value="">Sélectionnez un type</option>
                  <option
                    *ngFor="let accommodation of secondChoiceAccomodationTypes"
                    [value]="accommodation.value"
                  >
                    {{ accommodation.display }}
                  </option>
                </select>
              </div>

              <div class="space-y-2">
                <label class="block text-sm font-medium text-gray-700"
                  >Bâtiment</label
                >
                <select
                  formControlName="building"
                  class="mt-1 p-3 block w-full rounded-md border-gray-300 shadow-sm focus:border-purple-500 focus:ring-purple-500"
                >
                  <option value="">Sélectionnez un bâtiment</option>
                  <option
                    *ngFor="let building of secondChoiceBuildings"
                    [value]="building.value"
                  >
                    {{ building.display }}
                  </option>
                </select>
              </div>

              <div class="space-y-2">
                <label class="block text-sm font-medium text-gray-700"
                  >Appartement</label
                >
                <select
                  formControlName="apartment"
                  class="mt-1 p-3 block w-full rounded-md border-gray-300 shadow-sm focus:border-purple-500 focus:ring-purple-500"
                >
                  <option value="">Sélectionnez un appartement</option>
                  <option value="3">3</option>
                </select>
              </div>
            </div>
            <!-- Second Choice Pricing -->
            <app-tarifs-table
              *ngIf="secondChoiceFees.length > 0"
              [fees]="secondChoiceFees"
              header="Tarifs"
            ></app-tarifs-table>
          </div>
        </div>
      </div>
      <!-- Navigation Buttons -->
      <div class="flex justify-end space-x-4">
        <button
          type="button"
          (click)="nextStep()"
          [disabled]="!bookingForm.valid"
          class="px-4 py-2 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-purple-600 hover:bg-purple-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-purple-500 disabled:opacity-50 disabled:cursor-not-allowed"
        >
          Suivant
        </button>
      </div>
    </form>

    <!-- Step 2: Validation -->
    <div *ngIf="currentStep === 2">
      <div class="bg-white rounded-lg shadow p-4">
        <h2 class="text-xl font-semibold mb-6">Validation de vos choix</h2>

        <div class="space-y-4">
          <!-- First Choice Summary -->
          <div class="flex flex-col md:flex-row gap-4 p-4">
            <app-choice-summary
              [data]="{
                  header: 'Votre Premier Choix',
                  residence: getResidenceName('firstChoice'),
                  accomodation: getAccommodationName('firstChoice'),
                  building: getBuildingName('firstChoice'),
                  apartment:
                    bookingForm.get('firstChoice')?.get('apartment')?.value ??
                    'Non spécifié',
                }"
            ></app-choice-summary>
            <app-tarifs-table
              [fees]="firstChoiceFees"
              header="Tarifs"
            ></app-tarifs-table>
          </div>

          <!-- Second Choice Summary -->
          <div class="flex flex-col md:flex-row gap-4 p-4">
            <app-choice-summary
              [data]="{
                  header: 'Votre Deuxième Choix',
                  residence: getResidenceName('secondChoice'),
                  accomodation: getAccommodationName('secondChoice'),
                  building: getBuildingName('secondChoice'),
                  apartment:
                    bookingForm.get('secondChoice')?.get('apartment')?.value ??
                    'Non spécifié',
                }"
            ></app-choice-summary>
            <app-tarifs-table
              [fees]="secondChoiceFees"
              header="Tarifs"
            ></app-tarifs-table>
          </div>
        </div>
      </div>
      <div class="flex justify-end space-x-4 p-4">
        <button
          (click)="previousStep()"
          class="px-4 py-2 border border-gray-300 rounded-md shadow-sm text-sm font-medium text-gray-700 bg-white hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-purple-500"
        >
          Précédent
        </button>
        <button
          (click)="nextStep()"
          class="px-4 py-2 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-purple-600 hover:bg-purple-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-purple-500 disabled:opacity-50 disabled:cursor-not-allowed"
        >
          Valider
        </button>
      </div>
    </div>

    <!-- Display And Print Summary -->
    <div *ngIf="currentStep === 3" class="bg-white rounded-lg shadow p-4">
      <!--Confirmation Message-->
      <div
        class="my-8 rounded-lg bg-green-500/65 text-white flex justify-between border px-4 py-2 gap-x-2 items-center"
      >
        <div class="flex items-center gap-x-2">
          <span class="text-lg">✓</span>
          <h1>
            Votre réservation a bien été réçu. En attente du traîtement de votre
            demande
          </h1>
        </div>
      </div>
      <div class="flex gap-x-4 items-center mb-6">
        <h2 class="text-xl font-semibold" *ngIf="showDetails">
          Résumé de vos choix
        </h2>
        <div class="flex-1 flex items-center justify-end gap-x-4">
          <button (click)="showDetails = !showDetails" class="text-purple-600">
            <i-lucide [img]="showDetails ? eyeOff : eye"></i-lucide>
          </button>
          <button
            (click)="printSummary()"
            class="inline-flex md:order-3 items-center px-4 py-2 border border-gray-300 rounded-md shadow-sm text-sm font-medium text-gray-700 bg-white hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-purple-500"
          >
            <svg
              class="h-5 w-5 mr-2"
              fill="none"
              stroke="currentColor"
              viewBox="0 0 24 24"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M17 17h2a2 2 0 002-2v-4a2 2 0 00-2-2H5a2 2 0 00-2 2v4a2 2 0 002 2h2m2 4h6a2 2 0 002-2v-4a2 2 0 00-2-2H9a2 2 0 00-2 2v4a2 2 0 002 2zm8-12V5a2 2 0 00-2-2H9a2 2 0 00-2 2v4h10z"
              />
            </svg>
            Imprimer
          </button>
        </div>
      </div>

      <div class="space-y-4" *ngIf="showDetails" id="summaryToPrint">
        <!-- First Choice Summary -->
        <div class="flex flex-col md:flex-row gap-4 p-4">
          <app-choice-summary
            [data]="{
                  header: 'Votre Premier Choix',
                  residence: getResidenceName('firstChoice'),
                  accomodation: getAccommodationName('firstChoice'),
                  building: getBuildingName('firstChoice'),
                  apartment:
                    bookingForm.get('firstChoice')?.get('apartment')?.value ??
                    'Non spécifié',
                }"
          ></app-choice-summary>
          <app-tarifs-table
            [fees]="firstChoiceFees"
            header="Tarifs"
          ></app-tarifs-table>
        </div>

        <!-- Second Choice Summary -->
        <div class="flex flex-col md:flex-row gap-4 p-4">
          <app-choice-summary
            [data]="{
                  header: 'Votre Deuxième Choix',
                  residence: getResidenceName('secondChoice'),
                  accomodation: getAccommodationName('secondChoice'),
                  building: getBuildingName('secondChoice'),
                  apartment:
                    bookingForm.get('secondChoice')?.get('apartment')?.value ??
                    'Non spécifié',
                }"
          ></app-choice-summary>
          <app-tarifs-table
            [fees]="secondChoiceFees"
            header="Tarifs"
          ></app-tarifs-table>
        </div>
      </div>
    </div>

    <!-- Step 3: Final Summary -->
    <!-- <div *ngIf="currentStep === 2" class="bg-white rounded-lg shadow p-6">
      <div class="flex justify-between items-center mb-6">
        <h2 class="text-xl font-semibold">Résumé de votre réservation</h2>
        <button
          type="button"
          (click)="printSummary()"
          class="inline-flex items-center px-4 py-2 border border-gray-300 rounded-md shadow-sm text-sm font-medium text-gray-700 bg-white hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-purple-500"
        >
          <svg
            class="h-5 w-5 mr-2"
            fill="none"
            stroke="currentColor"
            viewBox="0 0 24 24"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M17 17h2a2 2 0 002-2v-4a2 2 0 00-2-2H5a2 2 0 00-2 2v4a2 2 0 002 2h2m2 4h6a2 2 0 002-2v-4a2 2 0 00-2-2H9a2 2 0 00-2 2v4a2 2 0 002 2zm8-12V5a2 2 0 00-2-2H9a2 2 0 00-2 2v4h10z"
            />
          </svg>
          Imprimer
        </button>
      </div>

      <div class="space-y-6" id="printable-summary">
        
      </div>
    </div> -->
  </div>
</div>
