:host {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content-wrapper {
  flex: 1 0 auto;
}

footer {
  flex-shrink: 0;
}

.bg-custom {
  background-image: url("/assets/images/campus-final.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
